﻿@model SIMONNABINKA.Models.tbl_menu
@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
    

    $(document).ready(function () {
        function autoRefreshPage() {
            $.ajax({
                url: "GetData",
                type: "GET",
                success: function (data) {
                    $("#resultFood").html(data);
                }
            });
            setInterval(function () {
                $("#_resultFood").load('Index.cshtml')
            }, 2000);

            $.ajax({
                url: "GetDrink",
                type: "GET",
                success: function (data) {
                    $("#resultDrink").html(data);
                }
            });
        }
        autoRefreshPage();
        setInterval(function () {
            autoRefreshPage().load('Index.cshtml')
        }, 2000);
    });
    
</script>

<div class="row">
    <div class="col-md-11 m-4">
        <div class="row">
            <div class="col-md-12">
                @*notification*@
                @if (ViewBag.notif != null)
                {
                    @*<div class="alert alert-dismissible @ViewBag.notifClass">
                            <button type="button" class="close" data-dismiss="alert">X</button>
                            @ViewBag.notif
                        </div>*@

                    ViewBag.notif = "";
                    ViewBag.notifClass = "";
                }
                @*./ notification*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    @ViewBag.date
                </div>
            </div>
        </div>

        <div class="row">
            <div id="_foodStock" class="col-md-6 mx-auto pt-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Food Stocks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <p id="resultFood"></p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-utensils fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="_drinkStock" class="col-md-6 mx-auto pt-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Drink Stocks</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <p id="resultDrink"></p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-glass-martini fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        @*<div class="row">
            @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListStock"])
            {
                <div class="col-md-6 mx-auto pt-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Html.DisplayFor(modelItem => item.itemName) Stocks</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(modelItem => item.stock)</div>
                                </div>
                                <div class="col-auto">
                                    @if (@Html.DisplayFor(modelItem => item.ms_menu_type.menu_type).ToString().ToLower() == "food")
                                    {
                                        <i class="fas fa-utensils fa-2x text-gray-300"></i>
                                    }
                                    else if (@Html.DisplayFor(modelItem => item.ms_menu_type.menu_type).ToString().ToLower() == "drink")
                                    {
                                        <i class="fas fa-glass-martini fa-2x text-gray-300"></i>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>*@
    </div>
</div>





