﻿@model SIMONNABINKA.Models.tbl_user

@{
    ViewBag.Title = "createOwner";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Create New User</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            @{
                List<SelectListItem> genders = new List<SelectListItem>();
                genders.Add(new SelectListItem
                {
                    Text = "Male",
                    Value = "M",
                    Selected = true
                });
                genders.Add(new SelectListItem
                {
                    Text = "Female",
                    Value = "F"

                });

            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.PK_id_user, "ID User", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PK_id_user, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PK_id_user, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    @Html.HiddenFor(model => model.date_created_user, new { Value = DateTime.Now })
                    @Html.HiddenFor(model => model.created_by, new { Value = Session["name"] })


                    <div class="form-group">
                        @Html.LabelFor(model => model.username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FK_id_role, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FK_id_role, (SelectList)ViewBag.FK_id_role, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FK_id_role, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.password, "Default Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.birthDate, "Birthday", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.birthDate, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.TextBoxFor(model => model.birthDate, new { type = "date" })
                            @Html.ValidationMessageFor(model => model.birthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.gender, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.gender, genders, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phoneNumber, "Phone Numbers", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.userPhoto, "Default Photo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.userPhoto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.userPhoto, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.FK_id_userStat, "User Stats", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.FK_id_userStat, (SelectList)ViewBag.FK_id_userStat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FK_id_userStat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Create" class="btn btn-success" />
                        @if (ViewBag.message != null)
                        {
                            <script>
                            $(document).ready(function(){

                            alert('@ViewBag.Message');

                            })
                            </script>
                        }
                    </div>


                    <div>
                        @Html.ActionLink("Back to List", "UserOwner")
                    </div>

                </div>
            }
        </div>
    </div>

</div>