﻿@model SIMONNABINKA.Models.tbl_user

<script>
    $(document).ready(function () {
        $("#password").hide();
        $("#password_incorect").hide();
        $("#pass_container").hide();

        $("#hide").click(function () {
            $("#password").hide(100);
            $("#password_incorect").hide(100);
            $("#pass_container").hide(100);
        });
        $("#show").click(function () {
            //$("#password").show();
            $("#pass_container").show(100);

            $("#get_pass_submit").click(function () {
                var pass = $("#get_pass").val();
                if (pass == @Session["password"]) {
                    $("#myModal").show(100);
                    $("#close_modal").click(function () {
                        $("#myModal").hide(100);
                    });
                    $("#password_incorect").hide(100);
                } else {
                    $("#password_incorect").show(100);
                }
            });
        });
    });
</script>

<div>
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Detail User</h1><br>
        <!-- DataTales Example -->
        <div class="card shadow ">
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal" style="font-size:1.5rem ">
                            <dd class="imgWrap m-auto" style="width:100%;">
                                <img src="~/Content/Picture/Profile Picture/@Model.userPhoto" alt="~/Content/Picture/Profile Picture/default.png" id="imgWrap" class="card-img-top img-fluid mb-5 ">
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <table class="table-borderless table-responsive" cellpadding="10">
                            <tr>
                                <th>
                                    Username
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.username)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.name)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Birthday
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.birthDate)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Gender
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.gender)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Address
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.address)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Phone Number
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.phoneNumber)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Role
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.ms_role.roleName)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Created Date
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.date_created_user)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Created By
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.created_by)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Status
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.ms_stat_user.userStat)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Password :
                                </th>
                                <td>
                                    <button id="show" class="btn-sm btn-secondary">show password</button>
                                    <button id="hide" class="btn-sm btn-secondary">Hide password</button>
                                </td>
                            </tr>
                        </table>
                        <div id="pass_container">
                            <input id="get_pass" type="password" class="form-control" placeholder="insert password first" />
                            <button id="get_pass_submit" class="btn-sm btn-primary form-control">REVEAL PASSWORD</button>
                        </div>
                        <p id="password_incorect">ops! your password is wrong</p>

                        @*show password modal*@
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        @Html.DisplayFor(model => model.username)'s password is = <span class="badge badge-success">@Html.DisplayFor(model => model.password)</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="close_modal" class="btn btn-sm btn-danger form-control">close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p class="mt-5">
                    @Html.ActionLink("Back to List", "UserOwner")
                </p>
            </div>
           
        </div>
    </div>
</div>