﻿@{
    ViewBag.Title = "User List Owner";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body py-3">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 py-4 text-right">
                            <a href="#" class="btn btn-primary">Add user</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tabel-data" class="table table-striped table-bordered dataTable text-center" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>BirthDay</th>
                                        <th>Phone</th>
                                        <th>Date created</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>BirthDay</th>
                                        <th>Phone</th>
                                        <th>Date created</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @{
                                        for (int i = 1; i <= 5; i++)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>user @i</td>
                                                <td> green street number @i </td>
                                                <td>10/09/1990</td>
                                                <td>081345675430</td>
                                                <td>02/02/2020</td>
                                                <td>Active</td>
                                                <td>
                                                    <div class="btn btn-warning">Suspend user</div>
                                                    <a href="#" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tabel-data').DataTable({
            orderCellsTop: true,
            paging: true,
            search: true
        });
    });
</script>