﻿@model SIMONNABINKA.Models.tbl_user
@{
    ViewBag.Title = "UserOwner";
}
<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body py-3">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#waiterTable').DataTable({
                        orderCellsTop: true,
                        paging: true,
                        search: true
                    });

                $('#myModal').on('show.bs.modal', function (e) {
                });

                $("[data-id]").click(function (e) {
                    e.preventDefault();
                    var id = $(this).data("id");
                    $('.modal-title').text('Change Status for ID  = ' + id);
                    $("#dataId").val(id);
                });


                });
            </script>

            <p class="text-sm-right">
                @Html.ActionLink("Create New", "createOwner", null, new { @class = "btn-sm btn-primary" })
            </p>
            <div class="table-responsive">
                <table class="table table-bordered dataTable" id="waiterTable" style="width: 100%;">
                    <thead>
                        <tr role="row" class="text-center">
                            <th>
                                @Html.LabelFor(model => model.PK_id_user, "ID User")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.username, "Name")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.birthDate, "Birth Date")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.address, "Adress")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.phoneNumber, "Phone Number")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.date_created_user, "Last Change")
                            </th>
                            <th>
                                @Html.LabelFor(model => model.ms_stat_user.userStat, "Status")
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<SIMONNABINKA.Models.tbl_user>)TempData["updateList"])
                        {
                            if (@Html.DisplayFor(modelItem => item.FK_id_role).ToString() == "SA")
                            {
                                <tr role="row" class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PK_id_user)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.birthDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.date_created_user)
                                    </td>
                                    <td>
                                        @if (@item.ms_stat_user.userStat == "active")
                                        {
                                            <a href="" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" data-id="@item.PK_id_user">@item.ms_stat_user.userStat</a>
                                        }
                                        else
                                        {
                                            <a href="" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#myModal" data-id="@item.PK_id_user">@item.ms_stat_user.userStat</a>
                                        }
                                    </td>
                                    <td>
                                        @*<a href="" data-toggle="modal" data-target="#myModal" data-id=@item.PK_id_user>@item.ms_stat_user.userStat</a>*@

                                        @Html.ActionLink("Detail", "Detail", new { id = item.PK_id_user }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.PK_id_user })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("UpdateStat", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                            {
                                <div class="modal-header">
                                    <h5 class="modal-title custom_align"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.PK_id_user, new { id = "dataId" })
                                        @Html.DropDownListFor(model => model.FK_id_userStat, (SelectList)ViewBag.FK_id_userStat, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

