﻿@model SIMONNABINKA.Models.tbl_menu
@{
    ViewBag.Title = "CrudMenu";
}

@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Data changed!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}

@{
    List<SelectListItem> status = new List<SelectListItem>();
    status.Add(new SelectListItem
    {
        Text = "Active",
        Value = "active",
        Selected = true
    });
    status.Add(new SelectListItem
    {
        Text = "Deactive",
        Value = "deactive"

    });

}
<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#dataTables').DataTable({
                        orderCellsTop: true,
                        paging: true,
                        search: true
                    });

                    $('#deleteModal', '#editModal').on('show.bs.modal', function (e) {
                    });

                    $("[data-delete]").click(function (e) {
                        e.preventDefault();
                        var id = $(this).data("delete");
                        $('.deleteModal-title').text('Delete ID  = ' + id);
                        $("#idDelete").val(id);

                    });

                    $("[data-edit]").click(function (e) {
                        e.preventDefault();
                        var id = $(this).data("edit");
                        $('.editModal-title').text('Edit for ID  = ' + id);
                        $("#idEdit").val(id);

                    });


                    $("[data-item]").click(function (e) {
                        e.preventDefault();
                        $("#item").val($(this).data("item"));

                    });

                    $("[data-price]").click(function (e) {
                        e.preventDefault();
                        $("#price").val($(this).data("price"));

                    });

                    $("[data-date]").click(function (e) {
                        e.preventDefault();
                        $("#date").val($(this).data("date"));

                    });

                });


            </script>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="mb-3">

                        <a href="@Url.Action("EditMenu", "Item")" class="card bg-primary text-white shadow px-3 py-2 d-inline-block">Add New Menu</a>
                    </div>
                    @*<div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="dataTables" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>
                                            @Html.LabelFor(model => model.PK_id_menu, "ID Menu")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.FK_id_type, "Category")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.itemName, "Menu Name")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.price, "Price")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.status, "Status")
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListMenu"])
                                    {
                                        if (item.status == "active") { ViewBag.statusMenu = "table-default"; } else { ViewBag.statusMenu = "table-danger"; }

                                        <tr role="row" class="odd text-center @ViewBag.statusMenu ">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PK_id_menu)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ms_menu_type.menu_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.itemName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.price)
                                            </td>
                                            <td>
                                                <b>@Html.DisplayFor(modelItem => item.status)</b>
                                            </td>
                                            <td>
                                                <button data-toggle="modal" data-target="#editModal" data-edit="@item.PK_id_menu" data-type="@item.ms_menu_type.menu_type" data-item="@item.itemName" data-price="@item.price" data-date="@item.date_created_menu" class="btn btn-sm btn-primary">Edit</button>
                                                @*<button data-toggle="modal" data-target="#deleteModal" data-delete="@item.PK_id_menu" class="card bg-danger text-white shadow px-3 py-2  d-inline">Delete</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("DeleteMenu", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="deleteModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_menu, new { id = "idDelete" })
                                                <h5 class="text-center">Are You Sure ? </h5>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Delete</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("CrudMenu", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="editModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_menu, new { id = "idEdit" })

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FK_id_type, "Category", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">

                                                        @Html.DropDownListFor(model => model.FK_id_type, (SelectList)ViewBag.FK_id_type, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.FK_id_type, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.itemName, "Menu Name", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.itemName, new { id = "item", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.itemName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.price, "Menu Price", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.price, new { id = "price", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.status, status, null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Change</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

