﻿@model SIMONNABINKA.Models.ms_menu_type

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ms_menu_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.menu_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
