﻿@model SIMONNABINKA.Models.ms_menu_type
@{
    ViewBag.Title = "EditCategory";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables').DataTable({
            orderCellsTop: true,
            paging: true,
            search: true
        });
    });

    $(function () {
        $('#addModal', '#deleteModal', '#editModal').on('show.bs.modal', function (e) {
        });

        $("[data-edit]").click(function (e) {
            e.preventDefault();
            var id = $(this).data("edit");
            $('.editModal-title').text('Edit for ID  = ' + id);
            $("#idEdit").val(id);
        });

        $("[data-delete]").click(function (e) {
            e.preventDefault();
            var id = $(this).data("delete");
            $('.deleteModal-title').text('Delete ID  = ' + id);

            $("#idDelete").val(id);
        });

        $("[data-value]").click(function (e) {
            e.preventDefault();
            var value = $(this).data("value");
            $("#Value").val(value);
        });

    });
    
</script>

<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        @{
                List<SelectListItem> status = new List<SelectListItem>();
                status.Add(new SelectListItem
                {
                    Text = "Active",
                    Value = "active",
                    Selected = true
                });
                status.Add(new SelectListItem
                {
                    Text = "Deactive",
                    Value = "deactive"

                });

        }

        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="mb-3">

                        <button data-toggle="modal" data-target="#addModal" class="card bg-primary text-white shadow px-3 py-2  d-inline">Add Category</button>
                    </div>
                    @*<div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="dataTables" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>
                                            @Html.LabelFor(model => model.PK_id_type, "ID Category")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.menu_type, "Category")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.status, "Status")
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.ms_menu_type>)TempData["updateListCategory"])
                                    {
                                        <tr role="row" class="odd text-center">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PK_id_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.menu_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)
                                            </td>
                                            <td>
                                                @*<button data-toggle="modal" data-target="#deleteModal" data-delete="@item.PK_id_type" class="card bg-danger text-white shadow px-3 py-2  d-inline">Delete</button>*@
                                                <button data-toggle="modal" data-target="#editModal" data-edit="@item.PK_id_type" data-value="@item.menu_type" class="btn btn-primary">Edit</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("EditCategory", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="addmodal-title custom_align">Add</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.menu_type, "Category", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.menu_type, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.menu_type, "", new { @class = "text-danger" })
                                                    </div>
                                                    <br />
                                                    @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.status, status, null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success" data-save>Add</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>


                            <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("Delete", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="deleteModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_type, new { id = "idDelete" })
                                                <h5 class="text-center">Are You Sure ? </h5>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Delete</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("Edit", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="editModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_type, new { id = "idEdit" })

                                                @Html.LabelFor(model => model.menu_type, "Category", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.menu_type, new { id = "Value", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.menu_type, "", new { @class = "text-danger" })
                                                </div>
                                                <br />
                                                @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.status, status, null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Change</button>
                                            </div>
                                         }
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
