﻿@model SIMONNABINKA.Models.tbl_menu
@{
    ViewBag.Title = "EditMenu";
}

@using (Html.BeginForm("EditMenu", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <!-- Page Heading -->
        <br>
        <h1 class="h3 mb-2 text-gray-800">Add Menu</h1><br>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            </div>
            <form action="#" method="POST">
                <div class="card-body row">
                    <div class="text-center w-50 p-3">
                        <center>
                            <div class="imgWrap" style="width:300px;">
                                <img src="~/Content/Picture/Menu Picture/Food/Food.png" id="imgView" class="card-img-top img-fluid">
                            </div><br />
                            <small>file must be lower than 1mb<span style="color:red;">*</span></small>
                            <div class="custom-file w-75">
                                @* <input type="file" id="inputFile" class="imgFile custom-file-input" aria-describedby="inputGroupFileAddon01">*@
                                @Html.TextBoxFor(model => model.imageMenu, new { type = "file", @class = "input-file imgFile", @id = "inputFile", required = "required" })
                                <label class="custom-file-label" for="inputFile">Choose file</label>
                            </div>
                        </center>
                    </div>
                    <div class="card-row">
                        @Html.HiddenFor(model => model.menu_photo, new { id = "idName" })
      
                        <div class="form-group">
                            @Html.LabelFor(model => model.itemName, "Menu Name", htmlAttributes: new { @class = "control-label" })<span style="color:red;">*</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.itemName, new { htmlAttributes = new { @class = "form-control", required="required" }, })
                                @Html.ValidationMessageFor(model => model.itemName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.price, "Price", htmlAttributes: new { @class = "control-label" })<span style="color:red;">*</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", required = "required" }, })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.stock, "Stock", htmlAttributes: new { @class = "control-label" })<span style="color:red;">*</span>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control", required = "required" }, })
                                @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FK_id_type, "Category", htmlAttributes: new { @class = "control-label" })<span style="color:red;">*</span>
                            <div class="col-md-10">

                                @Html.DropDownListFor(model => model.FK_id_type, (SelectList)ViewBag.FK_id_type, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.FK_id_type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="submit" name="add" class="form-control btn btn-primary" value="Add">
                    </div>
                    <div class="float-right mt-2">

                    </div>
                </div>
            </form>
        </div>

    </div>
}

    @*upload pic script*@
    <script src="~/Content/js/scripts.js"></script>
    <script>
        //photo size validation, max size 1mb
        var uploadField = document.getElementById("inputFile");

        uploadField.onchange = function () {
            if (this.files[0].size > 1000000) {
                alert("File is too big! size must be lower than 1mb");
                this.value = "";
            };
        };
        //photo size validation

        $("#inputFile").change(function (event) {
            fadeInAdd();
            getURL(this);
        });

        $("#inputFile").on('click', function (event) {
            fadeInAdd();
        });

        function getURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var filename = $("#inputFile").val();
                filename = filename.substring(filename.lastIndexOf('\\') + 1);
                reader.onload = function (e) {
                    debugger;
                    $('#imgView').attr('src', e.target.result);
                    $('#imgView').hide();
                    $('#imgView').fadeIn(500);
                    $('.custom-file-label').text(filename);
                    $("#idName").val(filename);
                }
                reader.readAsDataURL(input.files[0]);
            }
            $(".alert").removeClass("loadAnimate").hide();
        }

        function fadeInAdd() {
            fadeInAlert();
        }
        function fadeInAlert(text) {
            $(".alert").text(text).addClass("loadAnimate");
        }
    </script>