﻿
@{
    ViewBag.Title = "ListCoupon";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="mb-3">
                        <input name="add" type="submit" value="Add Voucher" class="card bg-primary text-white shadow px-3 py-2  d-inline">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTablee" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>ID</th>
                                        <th>Voucher name</th>
                                        <th>Discount %</th>
                                        <th>Quantity Voucher</th>
                                        <th>Total Used</th>
                                        <th>Created Date</th>
                                        <th>Expired Date</th>
                                        <th>Created By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd text-center">
                                        <td class="sorting_1">1</td>
                                        <td>DSC10</td>
                                        <td>10</td>
                                        <td>5</td>
                                        <td>1</td>
                                        <td>08/08/2020</td>
                                        <td>10/08/2020</td>
                                        <td>super_admin</td>
                                        <td>
                                            <a href="#" class="btn-sm btn-primary">edit</a>
                                            <a href="#" class="btn-sm btn-danger">delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var table = $('#dataTablee').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            paging: true,
            search: true
        });
    });
</script>

