﻿@model SIMONNABINKA.Models.tbl_menu
@{
    ViewBag.Title = "Stock";

}
@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Edit success!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables').DataTable({
                orderCellsTop: true,
                paging: true,
                search: true
            });

            $('#resetModal', '#editModal').on('show.bs.modal', function (e) {
            });

            $("[data-reset]").click(function (e) {
                e.preventDefault();
                var id = $(this).data("reset");
                $('.resetModal-title').text('Reset ID ' + id + ' to 0');
                $("#idReset").val(id);

            });

            $("[data-edit]").click(function (e) {
                e.preventDefault();
                var id = $(this).data("edit");
                $('.editModal-title').text('Edit for ID  = ' + id);
                $("#idEdit").val(id);

            });
            
        });
    </script>


<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @*<div class="mb-3">

                            <a href="@Url.Action("EditMenu", "Item")" class="card bg-primary text-white shadow px-3 py-2 d-inline-block">Add New Menu</a>
                        </div>
                        <div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="dataTables" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>
                                            @Html.LabelFor(model => model.PK_id_menu, "ID Menu")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.FK_id_type, "Category")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.itemName, "Menu Name")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.stock, "Stock")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.date_created_menu, "Last Updated")
                                        </th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListStock"])
                                    {
                                        <tr role="row" class="odd text-center">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PK_id_menu)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ms_menu_type.menu_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.itemName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.stock)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date_created_menu)
                                            </td>
                                            <td>
                                                @if (item.stock < 1)
                                                {
                                                    <button data-toggle="modal" data-target="#resetModal" data-reset="@item.PK_id_menu" class="btn btn-sm btn-danger" disabled>Reset stock</button>
                                                }
                                                else {
                                                    <button data-toggle="modal" data-target="#resetModal" data-reset="@item.PK_id_menu" class="btn btn-sm btn-danger">Reset stock</button>
                                                }
                                                <button data-toggle="modal" data-target="#editModal" data-edit="@item.PK_id_menu" class="btn btn-sm btn-success">Edit</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="modal" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("ResetStock", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="resetModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_menu, new { id = "idReset" })
                                                <h5 class="text-center">Are You Sure want to reset? </h5>

                                                @Html.HiddenFor(model => model.date_created_menu, new { @Value = DateTime.Now })
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Reset</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("Stock", "Item", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="editModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_menu, new { id = "idEdit" })
                                                @Html.HiddenFor(model => model.date_created_menu, new { @Value = DateTime.Now })
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.opration, "Operation", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.opration, new SelectList(new string[] { "Increase ( + )", "Decrease ( - )" }, "Increase ( - )"), htmlAttributes: new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.inStock, "Stock", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.inStock, new { htmlAttributes = new { @class = "form-control" }, })
                                                        @Html.ValidationMessageFor(model => model.inStock, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Save</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

