﻿
@{
   /**/

   ViewBag.Title = "Profile";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            <form id="profile_form" method="POST" action="">
                <div class="col-md-5">
                    <center>
                        <div class="imgWrap" style="width:300px;">
                            <img src="~/Content/Picture/Profile Picture/default.png" id="imgView" class="card-img-top img-fluid">
                        </div><br />
                        <small>*file must be lower than 1mb</small>
                        <div class="custom-file">
                            <input type="file" id="inputFile" class="imgFile custom-file-input" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputFile">Choose file</label>
                        </div><br /><br />
                    </center>

                    Full Name<span style="color:red;">*</span><br />
                    <input class="form-control" name="full_name" type="Text" value="Valerie Luna" required /><br />

                    Address<span style="color:red;">*</span><br />
                    <textarea class="form-control" name="address" form="profile_form" required></textarea> <br />

                    Phone<span style="color:red;">*</span><br />
                    <input class="form-control" name="phone" type="number" value="081312344321" min="0" required /><br /> <br />

                    <input class="form-control btn btn-primary" name="submit" type="submit" value="save profile" /><br />
                    <hr />
                </div>
            </form>
            <form id="password_form" method="POST" action="">
                <div class="col-md-5">
                    <fieldset>
                        <legend>Change password </legend>

                        Old password<span style="color:red;">*</span><br />
                        <input class="form-control" name="old_password" type="password" required /><br />
                        New password<span style="color:red;">*</span><br />
                        <input class="form-control" name="new_password" type="password" required /><br />
                        Retype password<span style="color:red;">*</span><br />
                        <input class="form-control" name="re_password" type="password" required /><br />
                        <input class="form-control btn btn-primary" name="submit" type="submit" value="change password" onClick="validatePassword();" /><br />

                    </fieldset>
                </div>
            </form>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

@*upload pic script*@
<script src="~/Content/js/scripts.js"></script>
<script>
    //photo size validation, max size 1mb
    var uploadField = document.getElementById("inputFile");

    uploadField.onchange = function () {
        if (this.files[0].size > 1000000) {
            alert("File is too big! size must be lower than 1mb");
            this.value = "";
        };
    };
    //photo size validation

    $("#inputFile").change(function(event) {
      fadeInAdd();
      getURL(this);
    });

    $("#inputFile").on('click',function(event){
      fadeInAdd();
    });

    function getURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        var filename = $("#inputFile").val();
        filename = filename.substring(filename.lastIndexOf('\\')+1);
        reader.onload = function(e) {
          debugger;
          $('#imgView').attr('src', e.target.result);
          $('#imgView').hide();
          $('#imgView').fadeIn(500);
          $('.custom-file-label').text(filename);
        }
        reader.readAsDataURL(input.files[0]);
      }
      $(".alert").removeClass("loadAnimate").hide();
    }

    function fadeInAdd(){
      fadeInAlert();
    }
    function fadeInAlert(text){
      $(".alert").text(text).addClass("loadAnimate");
    }
</script>

