﻿@model SIMONNABINKA.Models.tbl_user

@{
    ViewBag.Title = "Profile";
}

@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Data profile changed!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}
else if (ViewBag.notif == "old_unmatch")
{
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'sorry, your old password was wrong!',
                    text: 'press OK to continue',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}
else if (ViewBag.notif == "duplicate_old")
{
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Ops, old and new password can not be the same!',
                    text: 'press OK to continue',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}

@using (Html.BeginForm("ChangePhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.PK_id_user)
    @Html.HiddenFor(model => model.FK_id_role)
    @Html.HiddenFor(model => model.FK_id_userStat)
    @Html.HiddenFor(model => model.username)
    @Html.HiddenFor(model => model.phoneNumber)
    @Html.HiddenFor(model => model.birthDate)
    @Html.HiddenFor(model => model.password)
    @Html.HiddenFor(model => model.gender)
    @Html.HiddenFor(model => model.address)
    @Html.HiddenFor(model => model.name)
    @Html.HiddenFor(model => model.created_by)
    @Html.HiddenFor(model => model.date_created_user)

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <legend>Change Photo </legend>
            </div>
            <div class="card-body">
                <div class="col-md-5">
                    <center>
                        <div class="imgWrap" style="width:300px;">
                            <img src="~/Content/Picture/Profile Picture/@Model.userPhoto" id="imgView" class="card-img-top img-fluid">
                        </div><br />
                        <small>file must be lower than 1mb</small>
                        <div class="custom-file">
                            @*<input name="imageFile" type="file" id="inputFile" class="imgFile custom-file-input" aria-describedby="inputGroupFileAddon01">*@
                            @Html.TextBoxFor(model => model.imageFile, Model.userPhoto, new { type = "file", @class = "input-file imgFile", @id = "inputFile" })
                            <label class="custom-file-label" for="inputFile">Choose file</label>
                        </div><br /><br />
                        <input class="form-control btn btn-primary" name="submitPhoto" type="submit" value="save profile" /><br />
                        <hr />
                    </center>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Profile", "Profile", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PK_id_user)
    @Html.HiddenFor(model => model.FK_id_role)
    @Html.HiddenFor(model => model.FK_id_userStat)
    @Html.HiddenFor(model => model.username)
    @Html.HiddenFor(model => model.userPhoto)
    @Html.HiddenFor(model => model.birthDate)
    @Html.HiddenFor(model => model.password)
    @Html.HiddenFor(model => model.gender)
    @Html.HiddenFor(model => model.created_by)
    @Html.HiddenFor(model => model.date_created_user)

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <legend>Change Profile </legend>
            </div>
            <div class="card-body">
                <div class="col-md-5">
                    Full Name<span style="color:red;">*</span><br />
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    <br />

                    Address<span style="color:red;">*</span><br />
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    <br />

                    Phone<span style="color:red;">*</span><br />
                    @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })<br />
                    <br />

                    <input class="form-control btn btn-primary" name="submitProfile" type="submit" value="save profile" /><br />
                    <hr />
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.PK_id_user)
    @Html.HiddenFor(model => model.FK_id_role)
    @Html.HiddenFor(model => model.FK_id_userStat)
    @Html.HiddenFor(model => model.username)
    @Html.HiddenFor(model => model.name)
    @Html.HiddenFor(model => model.userPhoto)
    @Html.HiddenFor(model => model.phoneNumber)
    @Html.HiddenFor(model => model.birthDate)
    @Html.HiddenFor(model => model.gender)
    @Html.HiddenFor(model => model.address)
    @Html.HiddenFor(model => model.created_by)
    @Html.HiddenFor(model => model.date_created_user)

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <legend>Change password </legend>
            </div>
            <div class="card-body">
                <div class="col-md-5">

                    Old password<span style="color:red;">*</span><br />
                    @*@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                    <input class="form-control" name="old_password" type="password" required /><br />
                    New password<span style="color:red;">*</span><br />
                    <input id="txtPassword" class="form-control" name="new_password" type="password" required /><br />
                    Retype password<span style="color:red;">*</span><br />
                    <input id="txtConfirmPassword" class="form-control" name="re_password" type="password" required /><br />
                    <input id="btnSubmit" class="form-control btn btn-primary" name="submitPassword" type="submit" value="change password" /><br />

                    <hr />
                </div>
            </div>
        </div>
    </div>

}


@*upload pic script*@
<script src="~/Content/js/scripts.js"></script>
<script>
    //photo size validation, max size 1mb
    var uploadField = document.getElementById("inputFile");

    uploadField.onchange = function () {
        if (this.files[0].size > 1000000) {
            alert("File is too big! size must be lower than 1mb");
            this.value = "";
        };
    };
    //photo size validation

    $("#inputFile").change(function (event) {
        fadeInAdd();
        getURL(this);
    });

    $("#inputFile").on('click', function (event) {
        fadeInAdd();
    });

    function getURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var filename = $("#inputFile").val();
            filename = filename.substring(filename.lastIndexOf('\\') + 1);
            reader.onload = function (e) {
                debugger;
                $('#imgView').attr('src', e.target.result);
                $('#imgView').hide();
                $('#imgView').fadeIn(500);
                $('.custom-file-label').text(filename);
            }
            reader.readAsDataURL(input.files[0]);
        }
        $(".alert").removeClass("loadAnimate").hide();
    }

    function fadeInAdd() {
        fadeInAlert();
    }
    function fadeInAlert(text) {
        $(".alert").text(text).addClass("loadAnimate");
    }
</script>

@*password validation*@
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {

                Swal.fire({
                    title: 'New password do not match!',
                    text: 'Do you want to continue?',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
                return false;
            }
            return true;
        });
    });
</script>


