﻿<div class="row" style="color:black;">
    <div class="p-2">
        <div class="col-md-12">
            @{
                ViewBag.Title = "About";
            }
        </div>
    </div>
</div>
<div class="row" style="color:black;">
    <div class="p-5 text-center">
        <div class="col-md-12">
            <p class="display-4">@ViewBag.header</p>
            <img src="~/Content/Picture/Logo/about us.png" width="50%" />
            <p class="text-justify pt-3">
                The SIMON NABINKA application (Sistem Monitoring NABINKA) is an application designed to assist the activity monitoring process at the Nabinka pempek shop.
                In this version 1.0 application, there are several features such as transaction input, viewing stock, managing user accounts and viewing reports.
                This application is also equipped with a report builder feature so that reports can be exported into pdf, word, excel, etc.
                This program was worked on by Brian Fahrizan and Mochammad Luthfi santosa to fulfill the duties of the PT.NAWADATA SOLUTION bootcamp.
            </p>
            <p class="text-justify pt-3 font-weight-bold">
                For more further information, you can contact to <a href="mailto: brian.fahrizan@gmail.com">brian.fahrizan@gmail.com</a> or <a href="mailto: luthfisantosa@gmail.com">luthfisantosa@gmail.com</a>
            </p>
        </div>
    </div>
</div>


