﻿@model SIMONNABINKA.Models.tbl_menu

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow ">
        <div class="card-body ">
                    <div class="row m-2">
                        @foreach (var item in (List<SIMONNABINKA.Models.tr_detailOrder>)TempData["updateListOr"])
                        {
                            <div class="card m-3" style="width: 18rem;">
                                <img class="card-img-top" src="~/Content/Picture/Menu Picture/@item.tbl_menu.menu_photo" alt="Card image cap" height="170px">
                                <div class="card-header text-center ">
                                    <h5 class="card-title">@item.tbl_menu.itemName</h5>
                                    <p class="card-text">@item.tbl_menu.ms_menu_type.menu_type</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Price
                                        <span>@item.tbl_menu.price</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Quantity
                                        <span>@item.quantity</span>
                                    </li>
                                    @{
                                        int? jumlah = 0;
                                        jumlah = item.tbl_menu.price * item.quantity;
                                        <li class="list-group-item d-flex justify-content-between align-items-center font-weight-bold">
                                            Total
                                            <span>@jumlah</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
            </div>
            <div class="card-footer ">
                    @Html.ActionLink("Back to List", "UnpaidTransaction")
            </div>
        </div>
    </div>
</div>