﻿@model SIMONNABINKA.Models.tr_headTransaction
@{
    ViewBag.Title = "Transaction";

}

@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Transaction success!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}


<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <div class="card shadow mb-4">
        <form action="#" method="POST" name="add_transaction">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            </div>

            <div class="mb-4 m-4">
                <h6 class="text-uppercase">Food</h6>
                <!-- Solid divider -->
                <hr class="solid" style=" border-top: 2px solid #999;">
            </div>
            <div class="row m-4">

                @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListFood"])
                {
                    //if STOCK 0
                    <br /><br />
                    <div class="col-sm-4 pt-5">
                        <!-- Default Card Example -->
                        <div class="card mb-4 h-100">
                            @*statis code*@
                            <div class="card card mb-4 h-100">
                                <img class="card-img-top" src="~/Content/Picture/Menu Picture/@Html.DisplayFor(modelItem => item.menu_photo)" alt="Card image cap" width="10px" height="150px">
                            </div>
                            @*./statis code*@
                            <div class="card-header text-center">
                                <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                                <h6>Stock @Html.DisplayFor(modelItem => item.stock)</h6>
                                @Html.DisplayFor(modelItem => item.price)
                            </div>
                            <div class="card-body text-center h-100">
                                <span>Quantity</span>
                                <div class="sp-quantity">
                                    @if (@Html.DisplayFor(modelItem => item.stock).ToString() == "0")
                                    {
                                        <center class="font-weight-bold justify-content-center alert-danger">OUT OF STOCK</center>

                                    }
                                    else
                                    {
                                        //stock limit validation
                                        <script>
                                            $(document).ready(function () {
                                                @*$(".ddd").click(function () {
                                                    var $button = $(this);
                                                    if ($button.text() == "+") {
                                                        if ($("#@item.PK_id_menu").val() < @item.stock-1) {
                                                            var val = document.getElementById("@item.PK_id_menu").max;
                                                            var get = parseInt($("#@item.PK_id_menu").val()) + 1;
                                                        } else {
                                                            $("#@item.PK_id_menu").val(@item.stock-1);
                                                            $("#total").val((@item.stock-1) * @item.price);
                                                        }
                                                    }
                                                });*@

                                                $("._reset").click(function () {
                                                    $("#@item.PK_id_menu").val(0);
                                                    $("#total").val(0);
                                                });
                                            });
                                        </script>
                                        <table class="table-responsive">
                                            <tr>
                                                <td>
                                                    <div class="sp-minus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">-</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-input">
                                                        <input type="text" name="@item.price" id="@item.PK_id_menu" title="@item.itemName" class="quntity-input form-control text-center" value="0" min="0" max="@item.stock" disabled />
                                                        <input class="price" type="hidden" value="@item.price" />
                                                        <input class="stock" type="hidden" value="@item.stock" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-plus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">+</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <btn class="btn btn-sm btn-danger form-control _reset">reset qty</btn>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br><br>
            </div>

            <br><br>
            <div class="mb-4 m-4">
                <h6 class="text-uppercase">Drink</h6>
                <!-- Solid divider -->
                <hr class="solid" style=" border-top: 2px solid #999;">
            </div>
            <div class="row m-4">
                @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListDrink"])
                {
                    //if STOCK 0
                    <br /><br />
                    <div class="col-sm-4 pt-5">
                        <!-- Default Card Example -->
                        <div class="card mb-4 h-100">
                            @*statis code*@
                            <div class="card card mb-4 h-100">
                                <img class="card-img-top" src="~/Content/Picture/Menu Picture/@Html.DisplayFor(modelItem => item.menu_photo)" alt="Card image cap" width="10px" height="150px">
                            </div>
                            @*./statis code*@
                            <div class="card-header text-center">
                                <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                                <h6>Stock @Html.DisplayFor(modelItem => item.stock)</h6>
                                @Html.DisplayFor(modelItem => item.price)
                            </div>
                            <div class="card-body text-center h-100">
                                <span>Quantity</span>
                                <div class="sp-quantity">
                                    @if (@Html.DisplayFor(modelItem => item.stock).ToString() == "0")
                                    {
                                        <table align="center">
                                            <tr>
                                                <td>
                                                    <center class="font-weight-bold justify-content-center alert-danger">OUT OF STOCK</center>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        //stock limit validation
                                        <script>
                                            $(document).ready(function () {
                                                @*$(".ddd").click(function () {
                                                    var $button = $(this);
                                                    if ($button.text() == "+") {
                                                        if ($("#@item.PK_id_menu").val() < @item.stock-1) {
                                                            var val = document.getElementById("@item.PK_id_menu").max;
                                                            var get = parseInt($("#@item.PK_id_menu").val()) + 1;
                                                        } else {
                                                            $("#@item.PK_id_menu").val(@item.stock-1);
                                                            $("#total").val((@item.stock-1) * @item.price);
                                                        }
                                                    }
                                                });*@

                                                $("._reset").click(function () {
                                                    $("#@item.PK_id_menu").val(0);
                                                    $("#total").val(0);
                                                });
                                            });
                                        </script>
                                        <table class="table-responsive">
                                            <tr>
                                                <td>
                                                    <div class=" sp-minus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">-</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-input">
                                                        <input type="text" name="@item.price" id="@item.PK_id_menu" title="@item.itemName" class="quntity-input form-control text-center" value="0" min="0" disabled />
                                                        <input class="price" type="hidden" value="@item.price" />
                                                        <input class="stock" type="hidden" value="@item.stock" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-plus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">+</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <btn class="btn btn-sm btn-danger form-control _reset">reset qty</btn>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="row m-3">
                <div class="col-md-4">
                    <div class="col-sm-12">
                        Buyer Name<span></span>
                        <input id="buyerName" name="buyer_name" class="form-control" type="text" />
                        Voucher Code
                        <input id="voucher" name="discount" class="form-control" type="text" min="0" disabled />
                        @foreach (var item in (List<SIMONNABINKA.Models.tbl_voucher>)TempData["updateListVoucher"])
                        {
                            <input name="@item.discountVoucher" id="@item.PK_id_voucher" class="VoucherIn" type="hidden" value="@item.nameVoucher" />

                        }
                        Total
                        <input id="total" name="total" class="total form-control" type="text" min="0" value="0" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12">
                        Note
                        <textarea form="add_transaction" id="note" class="form-control" name="note"></textarea>
                        Payment Method<span style="color:red;">*</span> :<br />
                        <input name="payment_method" class="radio" type="radio" value="pay_later" required checked /> PAY LATER<br />
                        <input name="payment_method" class="radio" type="radio" value="pay_now" required /> PAY NOW
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 h-100 mb-2">

                        <input data-toggle="modal" data-target="#inputModal" data-button="#" class="btn btn-success btn-block h-100 font-weight-bold" value="ADD TRANSACTION" />

                    </div>
                </div>
            </div>
            <div class="row m-3">
                <hr />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

                <div class="modal-header">
                    <h5 class="inputModal-title custom_align"></h5>

                    <button type="button" class="cls close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-between">
                        <div class="col-5">
                            @DateTime.Now
                        </div>
                        <div class="col-4">
                            @ViewBag.user
                        </div>
                    </div>
                    <hr>
                    <div id="body" class="container ml-3">
                        @Html.HiddenFor(model => model.countPrice, new { id = "countPrice" })
                        @Html.HiddenFor(model => model.note, new { id = "notes" })
                        @Html.HiddenFor(model => model.buyerName, new { id = "nameBuyer" })
                        @Html.HiddenFor(model => model.FK_id_transactionStat, new { id = "transStat" })
                        @Html.HiddenFor(model => model.FK_id_voucher, new { id = "voucherID" })
                     
                    </div>

                    <hr>
                    <table border="0" cellspacing="1">
                        <tr>
                            <td>Purchased</td>
                            <td width="80%">:</td>
                            <td class="text-right"><h5 id="purchased"></h5></td>
                        </tr>

                        <tr>
                            <td>Disc</td>
                            <td width="80%">:</td>
                            <td class="text-right"><h5 id="disc"></h5></td>
                        </tr>
                    </table>
                    <h5 class="_separator"></h5>
                    <table border="0" cellspacing="1">
                        <tr>
                            <td>Total</td>
                            <td width="80%">:</td>
                            <td class="text-right"><h5 id="payment"></h5></td>
                        </tr>
                        <tr>
                            <td>Cash</td>
                            <td width="80%">:</td>
                            <td class="text-right"><h5 id="cash"></h5></td>
                        </tr>
                    </table>
                    <h5 class="_separator"></h5>
                    <table border="0" cellspacing="1">
                        <tr>
                            <td>Changes</td>
                            <td width="80%">:</td>
                            <td class="text-right"><h5 id="changes"></h5></td>
                        </tr>
                    </table>
                    <h5 class="_separator"></h5>
                    <table border="0" cellspacing="1">
                        <tr>
                            <td colspan="2">
                                <span class="custom_align">Notes</span><br /><br />
                                "<span class="noteModal-title custom_align"></span>"
                            </td>
                        </tr>
                    </table>
                    <hr>
                    Cash
                    <input id="pay" name="discount" class="form-control text-right money" type="text" min="0" disabled />
                </div>
                <div class="modal-footer">

                    <button type="button" class="cls btn btn-secondary" data-dismiss="modal">Close</button>


                    <button type="submit" class="add btn btn-danger" data-save>Add</button>

                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/js/scripts.js"></script>
<script>
    //btn add and minus
    $(document).ready(function () {
        $(".ddd").on("click", function () {

            var $button = $(this);
            var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();
            
            var price = $button.closest('.sp-quantity').find("input.price").val();
            //var stock = $button.closest('.sp-quantity').find("input.stock").val();
            var oldTotal = document.getElementById("total").value;

            if ($button.text() == "+") {

                var newVal = parseInt(oldValue) + 1;
                var newTotal = parseInt(price) + parseInt(oldTotal);
            } else {

                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                    var newTotal = parseFloat(oldTotal) - parseFloat(price);
                } else {
                    newVal = 0;
                    newTotal = 0;

                }
            }
            document.getElementById("total").value = newTotal;
            $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);

            var purchased = document.getElementById("purchased").value = newTotal;
            document.getElementById("purchased").innerHTML = currency(purchased).format();


        });

        $('.radio').on('change', function () {
            var radios = document.getElementsByName('payment_method');

            if (radios[0].checked) {
                document.getElementById("voucher").disabled = true;
                document.getElementById("voucher").value = "";
                document.getElementById("pay").disabled = true;
                document.getElementById("pay").value = "";

            } else if (radios[1].checked) {
                document.getElementById("voucher").disabled = false;
                document.getElementById("voucher").value = "";
                document.getElementById("pay").disabled = false;
                document.getElementById("pay").value = "";

            }

        });

        var list = [];
        var voucher = [];
        $("[data-button]").click(function (e) {
            e.preventDefault();
            //custom for struct
           // $('#pay').text(currency($(this).val()).format());
          
          
            // document.getElementsByClassName("_separator").innerHTML = "<hr style='border-top: 1px dashed red;'>";
            Array.from(document.getElementsByClassName("_separator")).forEach(
                function (item) {
                    item.innerHTML = "<hr style='border-top: 1px dashed red;'>"
                }
            );

            var body = document.getElementById("body");
            var text = document.getElementById("note").value
            $("#notes").val(text);
            $('.noteModal-title').text(text);



            Array.from(document.getElementsByClassName("quntity-input")).forEach(
                function (item) {
                            if (item.value > 0) {
                                var total = 0
                                var obj = {};
                                obj['itemName'] = item.title;
                                obj['FK_id_menu'] = item.id;
                                obj['quantity'] = item.value;
                                total = item.value * item.name;
                                obj['price'] = total;
                                list.push(obj);
                            }
                }
            );
            var buyer = document.getElementById("buyerName").value;
            if (buyer == "") {
                buyer = "Anonymous";
            }
            $('.inputModal-title').text('Transaction for Buyer = ' + buyer);
            $(".add").on("click", function () {

                $("#nameBuyer").val(buyer);

                var radios = document.getElementsByName('payment_method');
                var radioID = 2;
                if (radios[0].checked) {
                    radioID = 2;
                } else if (radios[1].checked) {
                    radioID = 1;
                }
                $("#transStat").val(radioID);
                list = JSON.stringify({ 'list': list });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/Home/Transaction',
                    data: list
                });
            });
            for (var i = 0; i < list.length; i++) {
                body.insertAdjacentHTML('beforeend', '<div class="row"><div class="col">' + list[i].itemName + '</div><div class="col ">' + list[i].quantity + 'x</div><div class="col text-right">' + currency(list[i].price).format() + '</div></div>');
            }

        
            $('.inputModal-title').text('Transaction for Buyer = ' + buyer);
            $("#nameBuyer").val(buyer);
            var cek2 = document.getElementById("voucher").value;
            Array.from(document.getElementsByClassName("VoucherIn")).forEach(
                function (item) {
                    var objVoucher = {};
                    objVoucher['PK_id_voucher'] = item.id;
                    objVoucher['nameVoucher'] = item.value;
                    objVoucher['discountVoucher'] = item.name;
                    voucher.push(objVoucher);
                }
            );
            var purchased = document.getElementById("purchased").value;
            for (var i = 0; i < voucher.length;) {
                console.log(voucher.length);
                if (voucher[i].nameVoucher === cek2) {
                    var message = "";
                    var disc = voucher[i].discountVoucher;
                    var discount = purchased * (disc / 100);
                    var payment = document.getElementById("payment").value = purchased - discount;
                    $("#voucherID").val(voucher[i].PK_id_voucher);
                    i = voucher.length;
                } else if (cek2 == "") {
                    var message = "";
                    var discount = 0;
                    var payment = document.getElementById("payment").value = purchased;
                    i = voucher.length;
                } else {
                   var message = "Wrong"
                }
                i++;
            }
            if (message == "Wrong") {
                alert("Voucher Wrong or Voucher Has Expired");
                var body = document.getElementById("body");
                document.getElementById("pay").value = 0;
                document.getElementById("changes").value = 0;
                location.reload();
                list = [];
                body.innerHTML = '';
            } else {
                document.getElementById("disc").value = discount;
                document.getElementById("disc").innerHTML = currency(discount).format();
                document.getElementById("payment").innerHTML = currency(payment).format();
                $("#countPrice").val(parseInt(payment));
                var pay = document.getElementById("pay");
                $('#pay').keyup(function () {
                    document.getElementById("changes").innerHTML = currency(pay.value - payment).format();
                    document.getElementById("cash").innerHTML = currency(pay.value).format();
                });
       
            }
            
            
        });
        $(".cls").on("click", function () {
            var body = document.getElementById("body");
            document.getElementById("pay").value = 0;
            document.getElementById("changes").value = 0;
            location.reload();
            list = [];
            body.innerHTML = '';
        });
    });
</script>

<script>
    (function (e, g) { "object" === typeof exports && "undefined" !== typeof module ? module.exports = g() : "function" === typeof define && define.amd ? define(g) : (e = e || self, e.currency = g()) })(this, function () {
        function e(b, a) { if (!(this instanceof e)) return new e(b, a); a = Object.assign({}, m, a); var d = Math.pow(10, a.precision); this.intValue = b = g(b, a); this.value = b / d; a.increment = a.increment || 1 / d; a.groups = a.useVedic ? n : p; this.s = a; this.p = d } function g(b, a) {
            var d = 2 < arguments.length && void 0 !== arguments[2] ? arguments[2] : !0; var c = a.decimal;
            var h = a.errorOnInvalid, k = a.fromCents, l = Math.pow(10, a.precision), f = b instanceof e; if (f && k) return b.intValue; if ("number" === typeof b || f) c = f ? b.value : b; else if ("string" === typeof b) h = new RegExp("[^-\\d" + c + "]", "g"), c = new RegExp("\\" + c, "g"), c = (c = b.replace(/\((.*)\)/, "-$1").replace(h, "").replace(c, ".")) || 0; else { if (h) throw Error("Invalid Input"); c = 0 } k || (c = (c * l).toFixed(4)); return d ? Math.round(c) : c
        } var m = {
            symbol: "Rp", separator: ",", decimal: ".", errorOnInvalid: !1, precision: 2, pattern: "!#", negativePattern: "-!#", format: function (b,
                a) { var d = a.pattern, c = a.negativePattern, h = a.symbol, k = a.separator, l = a.decimal; a = a.groups; var f = ("" + b).replace(/^-/, "").split("."), q = f[0]; f = f[1]; return (0 <= b.value ? d : c).replace("!", h).replace("#", q.replace(a, "$1" + k) + (f ? l + f : "")) }, fromCents: !1
        }, p = /(\d)(?=(\d{3})+\b)/g, n = /(\d)(?=(\d\d)+\d\b)/g; e.prototype = {
            add: function (b) { var a = this.s, d = this.p; return e((this.intValue + g(b, a)) / (a.fromCents ? 1 : d), a) }, subtract: function (b) { var a = this.s, d = this.p; return e((this.intValue - g(b, a)) / (a.fromCents ? 1 : d), a) }, multiply: function (b) {
                var a =
                    this.s; return e(this.intValue * b / (a.fromCents ? 1 : Math.pow(10, a.precision)), a)
            }, divide: function (b) { var a = this.s; return e(this.intValue / g(b, a, !1), a) }, distribute: function (b) { var a = this.intValue, d = this.p, c = this.s, h = [], k = Math[0 <= a ? "floor" : "ceil"](a / b), l = Math.abs(a - k * b); for (d = c.fromCents ? 1 : d; 0 !== b; b--) { var f = e(k / d, c); 0 < l-- && (f = f[0 <= a ? "add" : "subtract"](1 / d)); h.push(f) } return h }, dollars: function () { return ~~this.value }, cents: function () { return ~~(this.intValue % this.p) }, format: function (b) {
                var a = this.s; return "function" ===
                    typeof b ? b(this, a) : a.format(this, Object.assign({}, a, b))
            }, toString: function () { var b = this.s, a = b.increment; return (Math.round(this.intValue / this.p / a) * a).toFixed(b.precision) }, toJSON: function () { return this.value }
        }; return e
    });
</script>