﻿@model SIMONNABINKA.Models.tr_headTransaction
@{
    ViewBag.Title = "Transaction";

}
<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <div class="card shadow mb-4">
        <form action="#" method="POST" name="add_transaction">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            </div>

            <div class="mb-4 m-4">
                <h6 class="text-uppercase">Food</h6>
                <!-- Solid divider -->
                <hr class="solid" style=" border-top: 2px solid #999;">
            </div>
            <div class="row m-4">

                @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListFood"])
                {
                    //if STOCK 0
                    <br /><br />
                    <div class="col-md-3 pt-5">
                        <!-- Default Card Example -->
                        <div class="card mb-4 h-100">
                            @*statis code*@
                            <div class="card card mb-4 h-100">
                                <img class="card-img-top" src="~/Content/Picture/Menu Picture/@Html.DisplayFor(modelItem => item.menu_photo)" alt="Card image cap" width="10px" height="150px">
                            </div>
                            @*./statis code*@
                            <div class="card-header text-center">
                                <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                                <h6>Stock @Html.DisplayFor(modelItem => item.stock)</h6>
                                @Html.DisplayFor(modelItem => item.price)
                            </div>
                            <div class="card-body text-center h-100">
                                <span>Quantity</span>
                                <div class="sp-quantity">
                                    @if (@Html.DisplayFor(modelItem => item.stock).ToString() == "0")
                                    {
                                        <center class="font-weight-bold justify-content-center alert-danger">OUT OF STOCK</center>

                                    }
                                    else
                                    {

                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="sp-minus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">-</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-input">
                                                        <input type="text" name="@item.price" id="@item.PK_id_menu" title="@item.itemName" class="quntity-input form-control text-center" value="0" min="0" disabled />
                                                        <input class="price" type="hidden" value="@item.price" />
                                                        <input class="stock" type="hidden" value="@item.stock" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-plus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">+</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br><br>
            </div>

            <br><br>
            <div class="mb-4 m-4">
                <h6 class="text-uppercase">Drink</h6>
                <!-- Solid divider -->
                <hr class="solid" style=" border-top: 2px solid #999;">
            </div>
            <div class="row m-4">
                @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListDrink"])
                {
                    //if STOCK 0
                    <br /><br />
                    <div class="col-md-3 pt-5">
                        <!-- Default Card Example -->
                        <div class="card mb-4 h-100">
                            @*statis code*@
                            <div class="card card mb-4 h-100">
                                <img class="card-img-top" src="~/Content/Picture/Menu Picture/@Html.DisplayFor(modelItem => item.menu_photo)" alt="Card image cap" width="10px" height="150px">
                            </div>
                            @*./statis code*@
                            <div class="card-header text-center">
                                <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                                <h6>Stock @Html.DisplayFor(modelItem => item.stock)</h6>
                                @Html.DisplayFor(modelItem => item.price)
                            </div>
                            <div class="card-body text-center h-100">
                                <span>Quantity</span>
                                <div class="sp-quantity">
                                    @if (@Html.DisplayFor(modelItem => item.stock).ToString() == "0")
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <center class="font-weight-bold justify-content-center alert-danger">OUT OF STOCK</center>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                    else
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class=" sp-minus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">-</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-input">
                                                        <input type="text" name="@item.price" id="@item.PK_id_menu" title="@item.itemName" class="quntity-input form-control text-center" value="0" min="0" disabled />
                                                        <input class="price" type="hidden" value="@item.price" />
                                                        <input class="stock" type="hidden" value="@item.stock" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="sp-plus btn btn-block">
                                                        <a class="ddd btn btn-outline-info font-weight-bold">+</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>


            <div class="row m-3">
                <div class="col-md-4">
                    <div class="col-sm-12">
                        @*Buyer Name<span></span>
                            <input id="buyerName" name="buyer_name" class="form-control" type="text" disabled />
                            Voucher Name
                            <input id="voucher" name="discount" class="form-control" type="text" min="0" disabled />*@
                        Total
                        <input id="total" name="total" class="total form-control" type="text" min="0" value="0" disabled />
                    </div>
                </div>
                @*  <div class="col-md-4">
                        <div class="col-sm-12">
                            Note
                            <textarea form="add_transaction" id="note" class="form-control" name="note" disabled></textarea>
                            Payment Method:<br />
                            <input name="payment_method" class="radio" type="radio" value="pay_later"  disabled /> PAY LATER<br />
                            <input name="payment_method" class="radio" type="radio" value="pay_now" disabled /> PAY NOW
                        </div>
                    </div>*@
                <div class="col-md-4">
                    <div class="col-md-12 h-100 mb-2">

                        <input data-toggle="modal" data-target="#inputModal" data-button="#" class="btn btn-success btn-block h-100 font-weight-bold" value="ADD TRANSACTION" />

                    </div>
                </div>
            </div>
            <div class="row m-3">
                <hr />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm("TransactionUnpaid", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {

                <div class="modal-header">
                    <h5 class="inputModal-title custom_align">Add Item</h5>

                    <button type="button" class="cls close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-between">
                        <div class="col-5">
                            @DateTime.Now
                        </div>
                        <div class="col-4">
                            @ViewBag.user
                        </div>
                    </div>
                    <hr>
                    <div id="body" class="container ml-3">
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="cls btn btn-secondary" data-dismiss="modal">Close</button>


                    <button type="submit" class="add btn btn-danger" data-save>Add</button>

                </div>
            }
        </div>
    </div>
</div>

<script src="~/Content/js/scripts.js"></script>
<script>
    //btn add and minus
    $(document).ready(function () {
        $(".ddd").on("click", function () {

            var $button = $(this);
            var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();
            var price = $button.closest('.sp-quantity').find("input.price").val();
            var oldTotal = document.getElementById("total").value;

            if ($button.text() == "+") {

                    var newVal = parseInt(oldValue) + 1;
                    var newTotal = parseInt(price) + parseInt(oldTotal);

            } else {

                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                    var newTotal = parseFloat(oldTotal) - parseFloat(price);
                } else {
                    newVal = 0;
                    newTotal = 0;

                }
            }
            document.getElementById("total").value = newTotal;
            $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);
            document.getElementById("purchased").value = newTotal;
            var disc = document.getElementById("disc");
            var pay = document.getElementById("pay");

            var payment = document.getElementById("payment").value = newTotal - disc.value;
            $("#countPrice").val(payment);

            $('#pay').keyup(function () {
                document.getElementById("changes").value = pay.value - newTotal;
            });
        });


        var list = [];

        $("[data-button]").click(function (e) {
            e.preventDefault();
            var body = document.getElementById("body");
            Array.from(document.getElementsByClassName("quntity-input")).forEach(
                function (item) {
                    if (item.value > 0) {
                        var total = 0
                        var obj = {};
                        obj['itemName'] = item.title;
                        obj['FK_id_menu'] = item.id;
                        obj['quantity'] = item.value;
                        total = item.value * item.name;
                        obj['price'] = total;
                        list.push(obj);
                    }
                }
            );


            $(".add").on("click", function () {
                list = JSON.stringify({ 'list': list });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/Home/TransactionUnpaid',
                    data: list
                });
            });
            for (var i = 0; i < list.length; i++) {
                body.insertAdjacentHTML('beforeend','<div class="row"><div class="col">' + list[i].itemName + '</div><div class="col ">' + list[i].quantity + '</div><div class="col text-right">' + list[i].price + '</div></div>');
            }

                const cek2 = document.getElementById("voucher").value;
                Array.from(document.getElementsByClassName("voucherName")).forEach(
                function (item) {
                    if (item.value==cek2) {
                        console.log(item.name)

                    }
                }
            );
        });
        $(".cls").on("click", function () {
            var body = document.getElementById("body");
            location.reload();
            list = [];
            body.innerHTML = '';
        });
    });
</script>


