﻿@model IEnumerable<SIMONNABINKA.Models.tr_detailOrder>

@{
    ViewBag.Title = "UnpaidDetails";
}

<h2>UnpaidDetails</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_menu.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tr_headTransaction.FK_id_user)
        </th>
        <th></th>
    </tr>

@foreach (var item in (List<SIMONNABINKA.Models.tr_detailOrder>)TempData["updateList"]) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PK_id_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_id_transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_id_menu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
    </tr>
}

</table>
