﻿@model SIMONNABINKA.Models.tr_headTransaction
@{
    ViewBag.Title = "Stock";

}
@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Edit success!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}

<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>

          

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @*<div class="mb-3">

                            <a href="@Url.Action("EditMenu", "Item")" class="card bg-primary text-white shadow px-3 py-2 d-inline-block">Add New Menu</a>
                        </div>
                        <div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="dataTables" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>
                                            @Html.LabelFor(model => model.purchaseDate, "Date")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.PK_id_transaction, "Transaction ID")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.buyerName, "Buyer Name")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.tr_detailOrder, "Detail Order")
                                        </th>
                                        @* <th>
            @Html.LabelFor(model => model.tbl_voucher.discountVoucher, "Discount")
        </th>*@
                                        <th>
                                            @Html.LabelFor(model => model.countPrice, "Total")
                                        </th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.tr_headTransaction>)TempData["updateListTr"])
                                    {
                                    <tr role="row" class="odd text-center">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.purchaseDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PK_id_transaction)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.buyerName)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DetailTransaction", "Home",new { Id = item.PK_id_transaction})" class="btn btn-sm btn-info">Order</a>
                                            @if (item.note != null && item.note != "")
                                            {
                                                <button data-toggle="modal" data-target="#noteModal" data-note="@item.note" class="btn btn-sm btn-primary">Note</button>
                                            }

                                        </td>
                                        @*  <td>
            @Html.DisplayFor(modelItem => item.tbl_voucher.discountVoucher) %
        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.countPrice)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("TransactionUnpaid", "Home",new { Id = item.PK_id_transaction})" class="btn btn-sm btn-primary">Edit</a>
                                            <button data-toggle="modal" data-target="#statModal" data-total="@item.countPrice" data-stat="@item.PK_id_transaction" class="btn btn-sm btn-success">PAID</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="modal" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="noteModal-title custom_align">Note</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <h5 class="idNote custom_align"></h5>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            <div class="modal" id="statModal" tabindex="-1" role="dialog" aria-labelledby="statModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
 
                                            <div class="modal-header">
                                                <h5 class="statModal-title custom_align"></h5>
                                                <button type="button" class="cls close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">

                                                    <table border="0" cellspacing="1">
                                                        <tr>
                                                            <td>Purchased</td>
                                                            <td width="80%">:</td>
                                                            <td class="text-right"><h5 id="idStat"></h5></td>
                                                        </tr>
                                                    </table>
                                                    Voucher Code
                                                    <input id="voucher" name="discount" class="form-control text-right money" type="text" min="0" />

                                                    @foreach (var item in (List<SIMONNABINKA.Models.tbl_voucher>)TempData["updateListVoucher"])
                                                    {
                                                        <input name="@item.discountVoucher" id="@item.PK_id_voucher" class="VoucherIn" type="hidden" value="@item.nameVoucher" />

                                                    }
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="cls btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" data-dismiss="modal" data-toggle="modal" data-target="#inputModal" data-button="button" class=" btn btn-danger">Change</button>
                                            </div>
                      
                                    </div>
                                </div>
                            </div>

                            <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("UpdateStat", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="inputModal-title custom_align"></h5>
                                                <button type="button" class="cls close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table border="0" cellspacing="1">
                                                    <tr>
                                                        <td>Purchased</td>
                                                        <td width="80%">:</td>
                                                        <td class="text-right"><h5 id="purchased"></h5></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Disc</td>
                                                        <td width="80%">:</td>
                                                        <td class="text-right"><h5 id="disc"></h5></td>
                                                    </tr>
                                                </table>
                                                <h5 class="_separator"></h5>
                                                <table border="0" cellspacing="1">
                                                    <tr>
                                                        <td>Total</td>
                                                        <td width="80%">:</td>
                                                        <td class="text-right"><h5 id="payment"></h5></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cash</td>
                                                        <td width="80%">:</td>
                                                        <td class="text-right"><h5 id="cash"></h5></td>
                                                    </tr>
                                                </table>
                                                <h5 class="_separator"></h5>
                                                <table border="0" cellspacing="1">
                                                    <tr>
                                                        <td>Changes</td>
                                                        <td width="80%">:</td>
                                                        <td class="text-right"><h5 id="changes"></h5></td>
                                                    </tr>
                                                </table>
                                                <hr>
                                                Cash
                                                <input id="pay" name="disc" class="form-control text-right money" type="text" min="0" />

                                                @Html.HiddenFor(model => model.PK_id_transaction, new { id = "statId" })
                                                @Html.HiddenFor(model => model.countPrice, new { id = "idPrice" })
                                                @Html.HiddenFor(model => model.FK_id_voucher, new { id = "voucherID" })
         
                                                <div class="modal-footer">
                                                    <button type="button" class="cls btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger" data-save>PAID</button>
                                                </div>

                                            </div>
                                        }
                                        </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/js/scripts.js"></script>
<script>
    $(document).ready(function () {
                $('#dataTables').DataTable({
                    orderCellsTop: true,
                    paging: true,
                    search: true
                });
                $('#statModal').on('show.bs.modal', function (e) {
                });
                $("[data-note]").click(function (e) {
                    var note = $(this).data("note");
                    $(".idNote").text(note);
                });
                $("[data-stat]").click(function (e) {
                e.preventDefault();
                var id = $(this).data("stat");
                var price = $(this).data("total");
                $('.statModal-title').text('Change Status No Transaction = ' + id);
                    $('#idStat').text(price);
                    $('#idStat').val(price);
                    $('#statId').val(id);
                document.getElementById("idStat").innerHTML = currency(price).format();
                  });

                var voucher = [];
                $("[data-button]").click(function (e) {
                    e.preventDefault();
                    var price = document.getElementById("idStat").value
                    document.getElementById("purchased").innerHTML = currency(price).format();
                    Array.from(document.getElementsByClassName("_separator")).forEach(
                    function (item) {
                    item.innerHTML = "<hr style='border-top: 1px dashed red;'>"
                    }
                    );
    
                    var cek2 = document.getElementById("voucher").value;
                    Array.from(document.getElementsByClassName("VoucherIn")).forEach(
                    function (item) {
                        var objVoucher = {};
                        objVoucher['PK_id_voucher'] = item.id;
                        objVoucher['nameVoucher'] = item.value;
                        objVoucher['discountVoucher'] = item.name;
                        voucher.push(objVoucher);
                         }
                     );
                    for (var i = 0; i < voucher.length;) {
                    console.log(voucher.length);
                    if (voucher[i].nameVoucher === cek2) {
                        var message = "";
                        var disc = voucher[i].discountVoucher;
                        var discount = price * (disc / 100);
                        var payment = document.getElementById("payment").value = price - discount;
                        $("#voucherID").val(voucher[i].PK_id_voucher);
                        i = voucher.length;
                    } else if (cek2 == "") {
                        var message = "";
                        var discount = 0;
                        var payment = document.getElementById("payment").value = price;
                        i = voucher.length;
                    } else {
                        var message = "Wrong"
                    }
                    i++;
                            }
                if (message == "Wrong") {
                    alert("Voucher Wrong or Voucher Has Expired");

                    document.getElementById("pay").value = 0;
                    document.getElementById("changes").value = 0;
                    location.reload();
    
                } else {
                    document.getElementById("disc").value = discount;
                    
                    document.getElementById("disc").innerHTML = currency(discount).format();
                    document.getElementById("payment").innerHTML = currency(payment).format();
                    $("#countPrice").val(payment);
                    var pay = document.getElementById("pay");
                    $('#pay').keyup(function () {
                        document.getElementById("changes").innerHTML = currency(pay.value - payment).format();
                        document.getElementById("cash").innerHTML = currency(pay.value).format();
                    });
                    $('#idPrice').val(parseInt(payment));
    
                
                }
            });
        $(".cls").on("click", function () {
            document.getElementById("pay").value = 0;
            document.getElementById("changes").value = 0;
            location.reload();

        });
    });
</script>

<script>
    (function (e, g) { "object" === typeof exports && "undefined" !== typeof module ? module.exports = g() : "function" === typeof define && define.amd ? define(g) : (e = e || self, e.currency = g()) })(this, function () {
        function e(b, a) { if (!(this instanceof e)) return new e(b, a); a = Object.assign({}, m, a); var d = Math.pow(10, a.precision); this.intValue = b = g(b, a); this.value = b / d; a.increment = a.increment || 1 / d; a.groups = a.useVedic ? n : p; this.s = a; this.p = d } function g(b, a) {
            var d = 2 < arguments.length && void 0 !== arguments[2] ? arguments[2] : !0; var c = a.decimal;
            var h = a.errorOnInvalid, k = a.fromCents, l = Math.pow(10, a.precision), f = b instanceof e; if (f && k) return b.intValue; if ("number" === typeof b || f) c = f ? b.value : b; else if ("string" === typeof b) h = new RegExp("[^-\\d" + c + "]", "g"), c = new RegExp("\\" + c, "g"), c = (c = b.replace(/\((.*)\)/, "-$1").replace(h, "").replace(c, ".")) || 0; else { if (h) throw Error("Invalid Input"); c = 0 } k || (c = (c * l).toFixed(4)); return d ? Math.round(c) : c
        } var m = {
            symbol: "Rp", separator: ",", decimal: ".", errorOnInvalid: !1, precision: 2, pattern: "!#", negativePattern: "-!#", format: function (b,
                a) { var d = a.pattern, c = a.negativePattern, h = a.symbol, k = a.separator, l = a.decimal; a = a.groups; var f = ("" + b).replace(/^-/, "").split("."), q = f[0]; f = f[1]; return (0 <= b.value ? d : c).replace("!", h).replace("#", q.replace(a, "$1" + k) + (f ? l + f : "")) }, fromCents: !1
        }, p = /(\d)(?=(\d{3})+\b)/g, n = /(\d)(?=(\d\d)+\d\b)/g; e.prototype = {
            add: function (b) { var a = this.s, d = this.p; return e((this.intValue + g(b, a)) / (a.fromCents ? 1 : d), a) }, subtract: function (b) { var a = this.s, d = this.p; return e((this.intValue - g(b, a)) / (a.fromCents ? 1 : d), a) }, multiply: function (b) {
                var a =
                    this.s; return e(this.intValue * b / (a.fromCents ? 1 : Math.pow(10, a.precision)), a)
            }, divide: function (b) { var a = this.s; return e(this.intValue / g(b, a, !1), a) }, distribute: function (b) { var a = this.intValue, d = this.p, c = this.s, h = [], k = Math[0 <= a ? "floor" : "ceil"](a / b), l = Math.abs(a - k * b); for (d = c.fromCents ? 1 : d; 0 !== b; b--) { var f = e(k / d, c); 0 < l-- && (f = f[0 <= a ? "add" : "subtract"](1 / d)); h.push(f) } return h }, dollars: function () { return ~~this.value }, cents: function () { return ~~(this.intValue % this.p) }, format: function (b) {
                var a = this.s; return "function" ===
                    typeof b ? b(this, a) : a.format(this, Object.assign({}, a, b))
            }, toString: function () { var b = this.s, a = b.increment; return (Math.round(this.intValue / this.p / a) * a).toFixed(b.precision) }, toJSON: function () { return this.value }
        }; return e
    });
</script>