﻿@model SIMONNABINKA.Models.tbl_user

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.title = "Login";
}
<body class="">

    <div class="container pt-lg-5">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="card o-hidden border-0">
                    <div class="card-header card-header text-center">
                        <div class="container-fluid">
                            WELLCOME TO SIMONNABINKA <img src="~/Content/Picture/Logo/logo-nav1.png" class="text-right" alt="Login" width="20%">
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12 mx-auto">
                                <div class="p-1">
                                    <center>
                                        <img src="~/Content/Picture/Logo/lock in2.gif" class="text-xl-right" alt="Login" width="20%"><br />
                                        <span class="h4 text-gray-900 mb-4 align-items-lg-center">LOGIN</span><br /><br />
                                    </center>
                                    
                                    @using (Html.BeginForm("Authorize", "Auth", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "username", required = "required" } })
                                            @*<input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Username">*@
                                        </div>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "password", required = "required" } })
                                            @*<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">*@
                                        </div>
                                        //Error message
                                        <center>
                                            <div class="alert-danger">
                                                <span class="alert-danger">
                                                    @Html.DisplayFor(model => model.login_error_message)
                                                </span>
                                            </div>
                                        </center><br />
                                        <input type="submit" class="btn btn-primary form-control" name="submit" value="login" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>