﻿<!DOCTYPE html>

<html>
<head>
    @{
        Html.RenderPartial("Header");
    }
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
