﻿    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    </body>
    <footer class="sticky-footer mb-0">
        <div class="container my-0">
            <div class="copyright text-center my-auto">
                <span>Copyright © SIMON NABINKA 2020</span>
            </div>
        </div>
    </footer>
</html>
