﻿@model SIMONNABINKA.Models.tbl_user

<body id="page-top" class="sidebar-toggled">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    @*logo Here*@
                    <img style="width:45%;" src="~/Content/Picture/Logo/logo-nav1.png">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            @if (Session["Role"].Equals("A"))
            {
                <!-- Nav Item - admin -->
                <!-- Nav Item - Dashboard temporary disable! -->
                <li class="nav-item @ViewBag.dashboard">
                    <a class="nav-link" href="@Url.Content("~/Dashboard/")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.transaction">
                    <a class="nav-link" href="@Url.Content("~/Home/Transaction")">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        <span>Transaction</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.UnpaidTransaction">
                    <a class="nav-link" href="@Url.Content("~/Home/UnpaidTransaction")">
                        <i class="fas fa-fw fa-money-check"></i>
                        <span>Unpaid Transaction</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Report</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Report List:</h6>
                            <a class="collapse-item @ViewBag.ReportTransaction" href="@Url.Content("~/Report/ReportTransaction")">Transaction</a>
                            <a class="collapse-item @ViewBag.ReportStocks" href="@Url.Content("~/Report/ReportStocks")">Stocks</a>
                        </div>
                    </div>
                </li>
            }
            else if (Session["Role"].Equals("SA"))
            {

                <!-- Nav Item - Super admin -->
                <!-- Nav Item - dashboard temporary disable! -->
                <li class="nav-item @ViewBag.dashboard">
                    <a class="nav-link" href="@Url.Content("~/Dashboard/")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.ReportTransaction @ViewBag.ReportStocks @ViewBag.ReportLogError">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Report</span>
                    </a>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Report List:</h6>
                            <a class="collapse-item @ViewBag.ReportTransaction" href="@Url.Content("~/Report/ReportTransaction")">Transaction</a>
                            <a class="collapse-item @ViewBag.ReportStocks" href="@Url.Content("~/Report/ReportStocks")">Stocks</a>
                            <a class="collapse-item @ViewBag.ReportLogError" href="@Url.Content("~/Report/ReportLogError")">Log Error</a>
                            <a class="collapse-item @ViewBag.ReportUsedVoucher" href="@Url.Content("~/Report/ReportUsedVoucher")">Used Voucher</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item @ViewBag.transaction">
                    <a class="nav-link" href="@Url.Content("~/Home/Transaction")">
                        <i class="fas fa-fw fa-cart-plus"></i>
                        <span>Transaction</span>
                    </a>
                </li>
                <li class="nav-item @ViewBag.UnpaidTransaction">
                    <a class="nav-link" href="@Url.Content("~/Home/UnpaidTransaction")">
                        <i class="fas fa-fw fa-money-check"></i>
                        <span>Unpaid Transaction</span>
                    </a>
                </li>
                //temporary disable!
                <li class="nav-item @ViewBag.ListVoucher">
                    <a class="nav-link" href="@Url.Content("~/Voucher/VoucherView")">
                        <i class="fas fa-fw fa-gift"></i>
                        <span>List Voucher</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <i class="fas fa-fw fa-utensils"></i>
                        <span>Menu</span>
                    </a>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Menu List:</h6>
                            <a class="collapse-item @ViewBag.EditMenu" href="@Url.Content("~/Item/CrudMenu")">Edit Menu</a>
                            <a class="collapse-item @ViewBag.EditStock" href="@Url.Content("~/Item/Stock")">Edit Stock</a>
                            <a class="collapse-item @ViewBag.EditCategory" href="@Url.Content("~/Item/EditCategory")">Edit Category</a>

                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <i class="fas fa-fw fa-users"></i>
                        <span>User</span>
                    </a>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">User List:</h6>
                            <a class="collapse-item @ViewBag.UserOwner" href="@Url.Content("~/User/UserOwner")">Owner</a>
                            <a class="collapse-item @ViewBag.UserWaiter" href="@Url.Content("~/User/UserWaiter")">Waiter</a>
                        </div>
                    </div>
                </li>
            }

            <li class="nav-item @ViewBag.about">
                <a class="nav-link" href="@Url.Content("~/Home/About")">
                    <i class="fas fa-fw fa-info-circle"></i>
                    <span>About</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["userID"]</span>
                                <img class="img-profile rounded-circle" src="~/Content/Picture/Profile Picture/@Session["avatar"]">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Content("~/Profile/Profile")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="@Url.Content("~/Auth/Logout")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

