﻿@model SIMONNABINKA.Models.tr_headTransaction
@using ReportViewerForMvc;
@{
    ViewBag.Title = " Detail Report Transaction";
}

<script>
    $(document).ready(function () {
        $("#clear").click(function () {
            $('._dateCustom').removeAttr('value');
        });
    });
</script>

<div class="container-fluid">

    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            <a href="ReportTransaction" class="btn btn-sm btn-primary"><span class="fa fa-arrow-left"></span> back</a>
            @*<h6 class="m-0 font-weight-bold text-info">79000</h6>*@
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @Html.ReportViewer(ViewBag.DetailReportViewer as Microsoft.Reporting.WebForms.ReportViewer);

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tableReport').DataTable({
            orderCellsTop: false,
            search: true,
            paging: true
        });
    });
</script>


