﻿@model SIMONNABINKA.Models.tbl_menu
@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportStocks";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
                    @*<div class="row">
                            <div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>
                                        Item Name:
                                        <input type="search" class="form-control form-control-sm " placeholder="" aria-controls="dataTable">
                                    </label>
                                </div>
                            </div>
                        </div>*@


                    @*load report without report buiilder*@
                    @*<div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped dataTable" id="dataTable" style="width: 100%;">
                                    <thead>
                                        <tr role="row" class="text-center">
                                            <th style="width: 72px;">Item Name</th>
                                            <th style="width: 103px;">Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<SIMONNABINKA.Models.tbl_menu>)TempData["updateListStock"])
                                        {
                                            <tr role="row" class="odd text-center">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.itemName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.stock)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>*@


                    @*<div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 1 entries</div>
                                    </div><div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell

            var table = $('#dataTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true
            });
        });
    </script>
