﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportLogError";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);

                    @*view manual report*@
                    @*<div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="datatables" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th style="width: 72px;">Error Message</th>
                                        <th style="width: 103px;">Time</th>
                                        <th style="width: 103px;">User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.tbl_logError>)TempData["updateListError"])
                                    {
                                        <tr role="row" class="odd text-center">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.error_msg)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.error_date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_user.username)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var table = $('#datatables').DataTable({
            orderCellsTop: true,
            search: true,
            paging: true
        });
    });
</script>

