﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportUsedVoucher";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
                    @*<div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row" class="text-center">
                                            <th>ID</th>
                                            <th>Voucher Name</th>
                                            <th>Discount %</th>
                                            <th>Buyer Name</th>
                                            <th>Inputed By</th>
                                            <th>Used Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<SIMONNABINKA.Models.tr_headTransaction>)TempData["updateListTransaction"])
                                        {
                                            <tr role="row" class="odd text-center">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_voucher.PK_id_voucher)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_voucher.nameVoucher)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_voucher.discountVoucher)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.buyerName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_voucher.tbl_user.username)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.purchaseDate)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var table = $('#dataTable').DataTable({
            orderCellsTop: true,
            search: true,
            paging: true
        });
    });
</script>



