﻿@model SIMONNABINKA.Models.tbl_voucher

@{
    ViewBag.Title = "CreateVoucher";
}

@{
    List<SelectListItem> status = new List<SelectListItem>();
    status.Add(new SelectListItem
    {
        Text = "Active",
        Value = "active",
        Selected = true
    });
    status.Add(new SelectListItem
    {
        Text = "Deactive",
        Value = "deactive"

    });

}

@if (ViewBag.notif == "dupplicate")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Voucher name is already exist!',
                    text: 'press OK to continue',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <legend>Add voucher </legend>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="col-md-2">Voucher Code</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nameVoucher, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nameVoucher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-2">Discount Voucher</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.discountVoucher, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.discountVoucher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-2">Expired Date</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.expiredDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.expiredDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">Total Voucher</div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.totalVoucher, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.totalVoucher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.status, status, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
}


