﻿@model SIMONNABINKA.Models.tbl_voucher
@{
    ViewBag.Title = "Voucher";
}

@if (ViewBag.notif == "success")
{
    @*notif*@
    <script type="text/javascript">
        $(document).ready(function () {
            function notif() {
                //Do something
                Swal.fire({
                    title: 'Edit success!',
                    text: 'press OK to continue',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                })
            }

            notif();
        });
    </script>
}

@{
    List<SelectListItem> status = new List<SelectListItem>();
    status.Add(new SelectListItem
    {
        Text = "Active",
        Value = "active",
        Selected = true
    });
    status.Add(new SelectListItem
    {
        Text = "Deactive",
        Value = "deactive"

    });

}
<div class="container-fluid">
    <!-- Page Heading -->
    <br><h1 class="h3 mb-2 text-gray-800">@ViewBag.header</h1><br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.date</h6>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#dataTables').DataTable({
                        orderCellsTop: true,
                        paging: true,
                        search: true
                    });

                    $('#deleteModal', '#editModal').on('show.bs.modal', function (e) {
                    });

                    $("[data-delete]").click(function (e) {
                        e.preventDefault();
                        var id = $(this).data("delete");
                        $('.deleteModal-title').text('Delete ID = ' + id);
                        $("#idDelete").val(id);

                    });

                    $("[data-edit]").click(function (e) {
                        e.preventDefault();
                        var id = $(this).data("edit");
                        $('.editModal-title').text('Edit for ID  = ' + id);
                        $("#idEdit").val(id);
                    });

                    $("[data-user]").click(function (e) {
                        e.preventDefault();
                        $("#fkid").val($(this).data("FKid"));

                    });

                    $("[data-name]").click(function (e) {
                        e.preventDefault();
                        $("#name").val($(this).data("name"));

                    });

                    $("[data-disc]").click(function (e) {
                        e.preventDefault();
                        $("#disc").val($(this).data("disc"));

                    });

                    $("[data-total]").click(function (e) {
                        e.preventDefault();
                        $("#total").val($(this).data("total"));

                    });

                    $("[data-exp]").click(function (e) {
                        e.preventDefault();
                        $("#expdate").val($(this).data("expdate"));

                    });

                    $("[data-date]").click(function (e) {
                        e.preventDefault();
                        $("#datecreated").val($(this).data("Last Edit"));
                    });


                });


            </script>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="mb-3">

                        <a href="@Url.Action("CreateVoucher", "Voucher")" class="card bg-primary text-white shadow px-3 py-2 d-inline-block">Add New Voucher</a>
                    </div>
                    @* <div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> Entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="dataTables" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="text-center">
                                        <th>
                                            @Html.LabelFor(model => model.PK_id_voucher, "ID Voucher")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.nameVoucher, "Voucher")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.totalVoucher, "Qty")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.discountVoucher, "Disc")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.usedVoucher, "Used")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.date_created_voucher, "Last Edit")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.expiredDate, "Expired Date")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.tbl_user.name, "Created By")
                                        </th>
                                        <th>
                                            @Html.LabelFor(model => model.status, "Status")
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<SIMONNABINKA.Models.tbl_voucher>)TempData["updateListVoucher"])
                                    {
                                        if (item.status == "active") { ViewBag.statusMenu = "table-default"; } else { ViewBag.statusMenu = "table-danger"; }
                                        <tr role="row" class="odd text-center @ViewBag.statusMenu">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PK_id_voucher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nameVoucher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.totalVoucher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.discountVoucher) %
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.usedVoucher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date_created_voucher)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.expiredDate)
                                            </td>
                                            <td>
                                                <abbr title="@Html.DisplayFor(modelItem => item.FK_id_user)">@Html.DisplayFor(modelItem => item.tbl_user.name)</abbr>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status)
                                            </td>
                                            <td>
                                                <button data-toggle="modal" data-target="#editModal" data-edit="@item.PK_id_voucher" data-user="@item.FK_id_user" data-name="@item.nameVoucher" data-disc="@item.discountVoucher" data-total="@item.totalVoucher" data-exp="@item.expiredDate" data-date="@item.date_created_voucher" class="btn btn-sm btn-primary">Edit</button>
                                                @*<button data-toggle="modal" data-target="#deleteModal" data-delete="@item.PK_id_voucher" class="btn btn-sm btn-primary">Delete</button>*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("DeleteVoucher", "Voucher", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="deleteModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_voucher, new { id = "idDelete" })
                                                <h5 class="text-center">Are You Sure ? </h5>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Delete</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                            <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("VoucherView", "Voucher", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="modal-header">
                                                <h5 class="editModal-title custom_align"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(model => model.PK_id_voucher, new { id = "idEdit" })
                                                @Html.HiddenFor(model => model.date_created_voucher, new { id = "datecreated", Value = DateTime.Now })
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.nameVoucher, "Voucher Name", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.nameVoucher, new { id = "name", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.nameVoucher, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.discountVoucher, "Discount Voucher", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.discountVoucher, new { id = "disc", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.discountVoucher, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.totalVoucher, "Total Voucher", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.totalVoucher, new { id = "total", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.totalVoucher, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.expiredDate, "Expired Date", htmlAttributes: new { @class = "control-label" })
                                                    <div class="col-md-10">
                                                        @Html.TextBoxFor(model => model.expiredDate, new { Type = "date", id = "expdate", @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.expiredDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.status, status, null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger" data-save>Save</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


